<%include top%>

<!--Khung tìm kiếm sản phẩm-->
<div class="container">
<div class="row">
    <div class="col-sm-2"></div>
    <div id="find" class="text-center col-sm-8">
        <form action="/find" method="GET">
            <input type="text" name="infor" list="products" placeholder="Find by name, id" style="width: 50%;">
            <datalist id="products">
            <% Products.forEach(p => { %>
                <option value="<%= p.productName%>"></option>
            <% }) %>
            <% Products.forEach(p => { %>
                <option value="<%= p.productID%>"><%= p.productName%></option>
            <% }) %>
            </datalist>
            <input type="submit" value="Find">
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
<hr>
</div>
<br>

<div class="container">
<div class="row">
<!--Danh sách sản phẩm-->
    <div id="left" class="col-sm-8">
    <div class="container">
        <h2 class="text-center">Products (<%= data.length%>)</h2>
        <hr>
    <div class="row">
    <% data.forEach(p => { %>
        <div class="col-sm-4 text-center">
            <form action="/addToCart" method="POST">
                <br>
                <div>
                    <img src="<%= p.image%>">
                </div>
                <div>
                    <p><b>Name:</b> <%= p.productName%></p>
                    <p><b>Price:</b> <%= p.price%></p>
                    <input type="hidden" name="productName" value="<%= p.productName%>">
                    <input type="hidden" name="image" value="<%= p.image%>">
                    <input type="hidden" name="productID" value="<%= p.productID%>">
                    <input type="hidden" name="price" value="<%= p.price%>">
                    <input type="number" name="quantity" id="quantity" style="width:60px">
                    <input type="submit" value="Add to cart">
                </div>
            </form>
            <hr/>
        </div>
    <% }) %>
    </div>
    </div>
    </div>
<!--Giỏ hàng-->
    <div id="right" class="col-sm-4 border-primary">
    <div class="container">
        <h2 class="text-center">Shopping cart (<%= cart.length%>)</h2>
    <!--Tính tiền đơn hàng hiện tại-->
        <%
        let orderdetail = [];
        let money = 0;
        cart.forEach(o => {
            money += o.price * o.quantity;
            orderdetail.push({
                productID: o.productID,
                price: o.price,
                quantity: o.quantity
            });
        })
        %>
        <div class="row">
            <div class="col-sm-9">
                <p><b>Total money:</b> <%= money%></p>
            </div>
            <form action="/users/buy" method="POST">
                <input type="hidden" name="orderdetail" value="<%= JSON.stringify(orderdetail)%>">
                <input type="submit" value="Buy">
            </form>
        </div>
        <hr>
    <!--Danh sách hàng trong giỏ-->
        <div class="row text-center col-sm-12">
        <% cart.forEach(o => { %>
            <div class="container"><div class="row"><br>
            <!--Sửa giỏ hàng-->
                <div id="edit" class="col-sm-6">
                    <form action="/editCart" method="POST">
                        <p><b>Name:</b> <%= o.productName%></p>
                        <p><b>Price:</b> <%= o.price%></p>
                        <div>
                            <input type="hidden" name="productID" value="<%= o.productID%>">
                            <label for="quantity"><b>Quantity:</b> </label>
                            <input type="number" name="quantity" value="<%= o.quantity%>" style="width: 50px;">
                            <input type="submit" value="Edit">
                        </div>
                    </form>
                </div>
            <!--Xóa hàng ra khỏi giỏ-->
                <div id="remove" class="col-sm-6">
                    <p><b>ID:</b> <%= o.productID%></p>
                    <img src="<%= o.image%>">
                    <br><br>
                    <form action="/removeFromCart" method="POST">
                        <input type="hidden" name="productID" value="<%= o.productID%>">
                        <input type="submit" value="Remove">
                    </form>
                </div>
            </div></div>
        </div><hr/>
        <% }) %>
        </div>
    </div>
    </div>
</div>
</div>

<%include bot%>